header {
    padding: 50px;
    text-align: center;
    font-size: 30px;
    height: 100px;
    background-color: black;
}

header a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

ion-icon {
    color: white;
}